/* Regole generali */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif
}

.parte3-row::after{
  content: "";
  display: table;
  clear: both;

}

.container{
  width: 80%;
  margin: 0 10%;
}


/* Parte header */

/* header sezione 1*/
 .listato {
 height: 50px;
 margin-top: 50px;
 border-bottom: 1px solid black;
 /* debug */
 /* background-color: red; */
}

.listato ol li  {
  display: inline-block;
  list-style-type: none;

}

.listato ol li a{
  text-decoration: none;
  color: black;

}

.margin-left-conctact{
margin-left: 40px;
}

.margin-left-search {
  margin-left: 583px;
}

.fas, .select{
color: black;
margin: 0 2px;
border: none;
}

.listato .log-in  a{
  border: 1px solid #ff7a59;;
  padding: 10px;
  border-radius: 5px;
  color: #ff7a59;;
  margin: 0 20px;

}

.listato .button-get-orange a {
  background-color: #ff7a59;;
  padding: 10px;
  border-radius: 5px;
  color: white;
}


/* header sezioone 2 */
.listato-2{
  height: 80px;
  padding-top: 20px;
  /* background-color: yellow; */
}

.listato-2 ol li{
  display: inline-block;
  list-style-type: none;

}

.listato-2 ol li a{
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.position-fixed{
  /* position: fixed; */
  top:0;
  width: 100%;
}

/* header sezione 3 */
.jumbotron{
  margin-top: 200px;    /* il margine è dato dalla somma dei due nav + i vari padding e margin */
  height: 610px;
  background-image: url(../img/jumbotron.png);
  /* debug */
  /* background-color: yellow; */
}

.title{
  width: 50%;
  font-size: 30px;
  padding-top: 60px;
}

.paragrafo-marketing{
width: 47%;
font-size: 19px;
padding-top: 30px;
}

.button-get-orange-2 a{
  display: inline-block;
  background-color: #ff7a59;;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-top: 30px;
  padding: 20px 40px;
}

.paragrafo-get-started{
  padding-top: 30px;
}


/* header sezione 4 */
.header-seziona-4{
  height: 80px;
  background-color: lightblue;
  border-top: 3px solid black;
  border-bottom: 3px solid black;

}


/* regole main */

/* main sezione 1 */
.powerful{
 /* debug */
  background-color: orange;
  height: 600px;

}

.img-cube{
  width: 300px;
  height: 210px;
  margin-left: 500px;
  margin-top: 50px;
  background-image: url(../img/cube.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* debug */
  /* background-color: red; */
}

.title-powerful{
  font-size: 25px;
  text-align: center;

}

.paragrafo-powerful{
  font-size: 20px;
  margin-top: 40px;
}

/* main sezione 2 */
.marketing-hub{
  float: left;
  width: 31.5%;
  margin-top: 30px;
  /* debug */
  background-color: lightblue;
  height:500px;

}

.sales-hub{
  float: left;
  width: 31.5%;
  margin: 30px 2.75%;
  /* debug */
  background-color: lightblue;
  height:500px;
}

.service-hub{
  float: left;
  width: 31.5%;
  margin-top: 30px;
  /* debug */
  background-color: lightblue;
  height:500px;
}



/* main sezione 3  */
.learn-and-grow{
  /* debug */
  background-image: linear-gradient(45deg
    ,#00a4bd,#00bda5);
  height:500px;
}


/* main sezione 4 */
.start-growing{
  /* debug */
  border: 1px solid black;
  height:500px;
}


/* Parte finale */

.footer{
  margin-top: 30px;
  /* debug */
  height: 400px;
  background-color: purple;
}
