/* Regole generali */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif
}

.parte3-row::after{
  content: "";
  display: table;
  clear: both;

}

.container{
  width: 80%;
  margin: 0 10%;
}


/* Parte header */

/* header sezione 1*/
 .listato {
 height: 50px;
 margin-top: 50px;
 border-bottom: 1px solid black;
 /* debug */
 /* background-color: red; */
}

.listato ol li  {
  display: inline-block;
}

.listato ol li a{
  text-decoration: none;
  color: black;

}

.margin-left-conctact{
margin-left: 40px;
}

.margin-left-search {
  margin-left: 583px;
}

.fas, .select{
color: black;
margin: 0 2px;
border: none;
}

.listato .log-in  a{
  border: 1px solid orange;
  padding: 10px;
  border-radius: 5px;
  color: orange;
  margin: 0 20px;

}

.listato .button-get-green a {
  background-color: orange;
  padding: 10px;
  border-radius: 5px;

  color: white;
}


/* header sezioone 2 */
.listato-2{
  height: 80px;
  padding-top: 20px;
  /* background-color: yellow; */
}

.listato-2 ol li{
  display: inline-block;
}

.listato-2 ol li a{
  text-decoration: none;
  color: black;
  font-size: 13px;
}

/* header sezione 3 */
.jumbotron{
  height: 685px;
   background-image: url(../img/jumbotron.png);
  /* debug */
  /* background-color: yellow; */
}

.jumbotron .immagine-jumbotron{


}



/* regole main */

/* main sezione 1 */
.powerful{
  /* debug */
  background-color: orange;
  height:500px;

}


/* main sezione 2 */
.marketing-hub{
  float: left;
  width: 31.5%;
  margin-top: 30px;
  /* debug */
  background-color: lightblue;
  height:500px;

}

.sales-hub{
  float: left;
  width: 31.5%;
  margin: 30px 2.75%;
  /* debug */
  background-color: lightblue;
  height:500px;
}

.service-hub{
  float: left;
  width: 31.5%;
  margin-top: 30px;
  /* debug */
  background-color: lightblue;
  height:500px;
}


/* main sezione 3  */
.learn-and-grow{
  /* debug */
  background-color: blue;
  height:500px;

}


/* main sezione 4 */
.start-growing{
  /* debug */
  border: 1px solid black;
  height:500px;
}


/* Parte finale */

.footer{
  margin-top: 30px;
  /* debug */
  height: 400px;
  background-color: purple;
}
